@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  padding: 0 2rem;
}
/* general styles start */
a {
  text-decoration: none;
}
/* general styles end */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 9rem auto;
  flex-wrap: wrap;
}
header > a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.6rem;
  font-weight: bold;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header > ul.active {
  display: flex;
}
header > ul > li:not(:last-child) {
  margin-right: 34px;
}
header > ul > li > a {
  text-decoration: none;
  font-weight: 600;
  color: #3a3a3a;
  display: flex;
  align-items: center;
}
.mobile-bar-icon {
  display: none;
}
.mobile-cart {
  display: none;
}
.header-icon img {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
}
/* main-container */
.main-container {
  max-width: 120rem;
  margin: 0 auto;
}
.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.9rem;
}
.hero > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.hero > .left > h2 {
  font-size: 5.2rem;
  font-weight: bold;
  color: #3a3a3a;
}
.hero > .left > p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #3a3a3a;
  margin: 1.6rem 0;
}
.hero > .right {
  display: flex;
  justify-content: center;
  width: 50%;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.hero > .right > img {
  width: 80%;
}
.hero > .left > .hero-cta {
  background-color: #e02c6d;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  max-width: 19.6rem;
  height: 4.4rem;
  padding: 2.4rem;
  border-radius: 4.1rem;
}
/* partner */
.partner {
  max-width: 111rem;
  padding: 3.6rem 6.2rem;
  position: relative;
}
.partner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
.partner::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
.partner-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}
.partner-images > img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  header {
    padding: 0 2rem;
    margin: 3rem 0;
  }
  header > a {
    font-size: 1.6rem;
  }
  header ul {
    margin-top: 2rem;
    flex-direction: column;
    width: 100%;
    display: none;
  }
  header ul li {
    margin-bottom: 1.5rem;
  }
  header > ul > li:not(:last-child) {
    margin-right: 0;
  }
  header > ul > li:last-child {
    display: none;
  }
  .mobile-cart {
    display: block;
  }
  .mobile-bar-icon {
    display: block;
  }
  .main-container {
    width: 100%;
  }
  /* hero */
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }
  .hero > .left,
  .hero > .right {
    width: 100%;
  }
  .hero > .left {
    margin: 2rem 0;
  }
  .hero > .left > h2 {
    font-size: 2.8rem;
  }
  .hero > .left > p {
    font-size: 1.4rem;
  }
  .hero > .left > .hero-cta {
    margin: 0 auto;
  }
  .hero > .right > img {
    width: 100%;
  }
  /* partner */
  .partner {
    padding: 3.6rem 1.2rem;
}
  .partner::before,
  .partner::after {
    display: none;
  }
}
